/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
    border: 0px;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End of Meyer Reset */

/* Custom Properties */

:root {
    --invalid-opaque: rgba(229, 116, 72, 1);
    --invalid-transparent: rgba(229, 116, 72, 0.2);
    --valid-opaque: rgba(96, 136, 63, 1);
    --valid-transparent: rgba(96, 136, 63, 0.2);
}

@font-face {
    font-family: Norse-Bold;
    font-weight: 400;
    src: url('./fonts/Norse-Bold.woff2') format('woff2'),
        url('./fonts/Norse-Bold.woff') format('woff');
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-wrap: wrap;
}

/* Left sidebar styling */

.left-sidebar {
    background-image: url('./img/halie-west-25xggax4bSA-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    flex: 1 1 40%;
    display: flex;
    flex-direction: column;
}

.logo-bckgd {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 8rem;
    margin-top: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-container {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.odin-logo {
    height: 7rem;
}

.odin-text-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.odin-text {
    font-family: Norse-Bold;
    color: white;
    font-size: 5rem;
}

/* Styles for Image Credits */

.credits-container {
    margin-top: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 0.5rem;
}

.image-credits {
    color: white;
    font-size: small;
}

.image-credits a {
    color: inherit;
}

/* Styles for main content - right side */

.main-content {
    flex: 1 1 60%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

/* Text headline section */

.text-headline {
    background-color: #f9fafb;
    height: 35%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    width: 100%;
}

.text-headline p {
    color: black;
    padding: 1rem;
    font-weight: 600;
}

/* Form section */

.form-section {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.form-section h1 {
    padding: 1rem;
    font-size: 1.5rem;
}

.form-section p {
    padding: 1rem;
    font-size: 1rem;
}

.signup-form {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

input[type="text"], 
input[type="email"], 
input[type="tel"], 
input[type="password"] {
    background-color: #ffffff;
    border: none;
    outline: none;
    font-size: 1.2rem;
    width: 100%;
}

input[type="text"]:focus, 
input[type="email"]:focus, 
input[type="tel"]:focus, 
input[type="password"]:focus {
    background-color: #ffffff;
}

input[type="text"]:placeholder-shown, 
input[type="email"]:placeholder-shown, 
input[type="tel"]:placeholder-shown, 
input[type="password"]:placeholder-shown {
    background-color: #ffffff;
}

input[type="text"]:placeholder-shown + label, 
input[type="email"]:placeholder-shown + label, 
input[type="tel"]:placeholder-shown + label, 
input[type="password"]:placeholder-shown + label {
    display: none;
}

input:invalid {
    background-color: var(--invalid-transparent, rgba(229, 116, 72, 0.2));
    caret-color: var(--invalid-opaque, rgba(229, 116, 72, 1));
}

input:focus:invalid {
    background-color: transparent;
}

input:valid {
    background-color: var(--valid-transparent, rgba(96, 136, 63, 0.2));
    caret-color: var(--valid-opaque, rgba(96, 136, 63, 1));
}

input:focus:valid {
    background-color: transparent;
}

[class^="signup-form"],
.form-submit {
    position: relative;
    max-width: 100%;
    padding: 15px;
    margin-right: 25px;
    margin-bottom: 10px;
}

.form-submit {
    margin: 0;
    padding: 0;
}

input:valid + label {
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.7rem;
    color: var(--valid-opaque, rgba(96, 136, 63, 1));
    top: 3px;
    left: 15px;
    display: none;
}

input:invalid + label {
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.7rem;
    color: var(--invalid-opaque, rgba(229, 116, 72, 1));
    top: 3px;
    left: 15px;
    display: none;
}

input:valid + label,
input:focus + label,
input:invalid + label {
    display: block;
}

.signup-form-name, 
.signup-form-surname, 
.signup-form-email, 
.signup-form-phone, 
.signup-form-password, 
.signup-form-confirm {
    border: 1px solid gray;
}

.password-info {
    margin: 10px 0px;
}

ul {
    list-style: circle;
}

.submit-button {
    background-color: #596D48;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.submit-button-text {
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: 600;
}
